
.footer{
    width: 100vw;
    margin: auto;
    position: relative;
    min-height: 304px;
    background: #5E5B59;
}

.ft-bgr img{
    position: absolute;
    width: 100%;
    left: 0;
}

.contact-infor{
    width: 80%;
    margin: auto;
    z-index: 99;
}
/* ----------------Our Contact----------- */

.ft-logo img{
    width: 70%;
    margin-left: 20px;
    margin-top: 30%;
    text-align: center;
}

.footer hr{
    width: 80%;
    margin: 50px auto 0 auto;
}

.cont-col h5{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFAA3B;
    border: none;
    padding-top: 40px;
}

.cont-col a{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    padding: 32px 0px;
    text-decoration: none;
    color: #E7FFFF;
}


/* ---------------follow------------ */
.name-company p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #E7FFFF;
}
.follow {
    position: relative;
    float: right;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    right: 0px;
    color: #E7FFFF;
}
.follow ul{
    display: inline-block;
    list-style: none;
    padding-inline-start: 5px;
}

.follow ul li{
    display: inline-block;
    margin: 0 2px;
}

.follow .fab{
    font-size: 18px;
    color: #FFAA3B;
}
